<form action="<%= users_url %>" method="post">
  
  <label for="username">username</label>
  <input id="username" type="text" name="user[username]" value="">
  
  <label for="password">password</label>
  <input id="password" type="password" name="user[password]" value="">
  <input type="submit" value="Sign Up">
</form>