<form action="<%= sessions_url %>" method="post">
  
  <label for="username">username</label>
  <input id="username" type="text" name="session[username]" value="">
  
  <label for="password">password</label>
  <input id="password" type="password" name="session[password]" value="">
  <input type="submit" value="Sign In">
</form>